In [1]:
import sys, os
from pymongo import MongoClient

from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *

# https://stackoverflow.com/questions/41323423/plotly-inside-jupyter-notebook-python
init_notebook_mode(connected=True) # initiate notebook for offline plot

import pandas as pd

In [2]:
sys.path.append("..")
import config # ../config.py

# run on raspberrypi3 Mongo database
#config.mongodb_ip = "192.168.1.224"
# run on Asus laptop Mongo database
#config.mongodb_ip = "192.168.1.124"
# run on Dell
config.mongodb_ip = "192.168.1.171"

client = MongoClient(host=config.mongodb_ip, port=config.mongodb_port)
db = client['steam']

## Failed appids excluded from future attempts or analysis

In [3]:
failed_appids_df = pd.DataFrame(list(db['apps'].find({"failureCount": {"$gte":3}}, {"appid":1,"name":1,"_id":False})))
failed_appids_df

         appid                                               name
0        12630                                Legend: Hand of God
1        15310                    The Settlers: Heritage of Kings
2        19930     The Settlers: Rise of an Empire Gold Edition
3        23330                              The Last Remnant Demo
4        33220             Tom Clancy's Splinter Cell: Conviction
5        33910                                             Arma 2
6        63600                                           realMyst
7        81674                          Ticket to Ride Trailer EN
8        81675                          Ticket to Ride Trailer DE
9        81676                          Ticket to Ride Trailer FR
10      210897              Crusader Kings II: African Portraits
11      227240                                   Construct 2 Free
12      233250                             Planetary Annihilation
13      239570             Mark of the Ninja: Special Edition DLC
14      894217                                      BAIKO - 16X16
15           7                                       Steam Client
16           8                                             winui2
17          90                         Half-Life Dedicated Server
18         100      Counter-Strike: Condition Zero Deleted Scenes
19         205                            Source Dedicated Server
20         210                            Source Dedicated Server
21         211                                         Source SDK
22         215                               Source SDK Base 2006
23         218                               Source SDK Base 2007
24         260                        Counter-Strike: Source Beta
25         304                 Day of Defeat: Source Press Review
26         310                       Source 2007 Dedicated Server
27         364                                HL1:MP Linux client
28         456  Team Fortress 2 - Summer 2012 Community Bundle...
29         457      Team Fortress 2 - Summer 2012 Sale Bundle DLC
...        ...                                                ...
10469  1114440                         Rainbow Six Siege - test 1
10470  1114441                        Rainbow Six Siege -  test 2
10471   258320                             PATH OF EXILE: STAGING
10472  1102922  ROGAN: The Thief in the Castle - Hard mode ope...
10473  1102910                        FOCUS on YOU - 4K Wallpaper
10474  1102900  FOCUS on YOU - YUA's Special Costume ( Pre-Ord...
10475  1102901                                   FOCUS on YOU OST
10476  1102920  ROGAN: The Thief in the Castle - 4K Wallpaper ...
10477  1102921  ROGAN: The Thief in the Castle - Original Soun...
10478  1100020               ROGAN: the Thief of Castle Pre-order
10479   599350                FSX VFR NexGen C. England & N.Wales
10480  1088320                  Day of Dragons - Dedicated Server
10481   258300                                Path of Exile Alpha
10482  1042400      Rising Storm 2: Vietnam - Green Army Men Base
10483  1075820                  Green Army Men - Dedicated Server
10484  1120840  Rainbow Six Siege - Gold Year 4 WW Uplay Activ...
10485  1120844  Rainbow Six Siege - 600 R6 Credits Pack Uplay ...
10486  1120841  Rainbow Six Siege - Gold Year 4 RU Uplay Activ...
10487  1120842  Rainbow Six Siege - Ultimate Year 4 WW Uplay A...
10488  1120843  Rainbow Six Siege - Ultimate Year 4 RU Uplay A...
10489  1107881  The Bard's Tale IV: Director's Cut - Deluxe Ed...
10490  1107880  The Bard's Tale IV: Director's Cut - Standard ...
10491  1071560     ONE PIECE World Seeker Treasure Hunting Outfit
10492  1075980                                         NinNinDays
10493  1097760                                    Uh Oh Bartender
10494  1109970                                   Mirador Playtest
10495   568660                       Lost Region Dedicated Server
10496  1119550                               SFIW:DedicatedServer
10497  1124820                                     Modding Helper
10498  1067990                Wolfenstein: Youngblood - Gold Bars

[10499 rows x 2 columns]

In [4]:
grouped_df = db['apps'].aggregate([
{"$match":
    {"$or": [{"failureCount": {"$lt": 3}}, {"failureCount": {"$exists": False}}]}
},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$updated_date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'updated_date'}, inplace=True)
grouped_df

   updated_date  count
0    2019-06-25   1235
1    2019-06-27   2805
2    2019-06-28   3632
3    2019-06-29   2034
4    2019-06-30   4044
5    2019-07-01   3487
6    2019-07-02   3498
7    2019-07-03   3472
8    2019-07-04    591
9    2019-07-07   2487
10   2019-07-08   3487
11   2019-07-09   3283
12   2019-07-10   3543
13   2019-07-11   3486
14   2019-07-12   3521
15   2019-07-13   3544
16   2019-07-14   3416
17   2019-07-15   3486
18   2019-07-16   3520
19   2019-07-17   3580
20   2019-07-18   4044
21   2019-07-19   3530
22   2019-07-20   2539

## Large numbers of old AppID entries means `refreshsteam.py` needs to be run.  This excludes consistently failed appids.

In [5]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['updated_date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='AppIDs By Last Updated Date',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [6]:
grouped_df = db['pricehistory'].aggregate([
{"$match": {}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'date'}, inplace=True)
grouped_df

           date  count
0    2018-09-04   8215
1    2018-09-05  43441
2    2018-09-06  37421
3    2018-09-07  23655
4    2018-09-08  37188
5    2018-09-10   2963
6    2018-09-11  45999
7    2018-09-12  20210
8    2018-09-13    269
9    2018-09-14  37390
10   2018-09-15  37650
11   2018-09-17  13770
12   2018-09-18  23910
13   2018-09-20  45652
14   2018-09-22  36531
15   2018-09-24   6238
16   2018-09-25  34293
17   2018-09-27  36969
18   2018-09-28  36974
19   2018-09-30   9130
20   2018-10-01  27797
21   2018-10-03  36964
22   2018-10-05  37018
23   2018-10-06  23097
24   2018-10-07  13902
25   2018-10-09  37005
26   2018-10-12  37128
27   2018-10-14  37054
28   2018-10-17  37148
29   2018-10-20  37170
..          ...    ...
226  2019-06-18  47565
227  2019-06-19   2357
228  2019-06-20  14944
229  2019-06-21  35675
230  2019-06-22   2469
231  2019-06-23  48734
232  2019-06-24   2452
233  2019-06-25  48003
234  2019-06-27   2077
235  2019-06-28  48369
236  2019-06-29   1486
237  2019-06-30   2798
238  2019-07-01  48563
239  2019-07-02   2494
240  2019-07-03   2361
241  2019-07-04    392
242  2019-07-07  52512
243  2019-07-08  27292
244  2019-07-09  25981
245  2019-07-10  28614
246  2019-07-11  27162
247  2019-07-12  28061
248  2019-07-13  26467
249  2019-07-14  25358
250  2019-07-15  27151
251  2019-07-16  28255
252  2019-07-17  28292
253  2019-07-18  28693
254  2019-07-19  27233
255  2019-07-20  20790

[256 rows x 2 columns]

## This is historical data from the `pricehistory` Mongo collection.  This is updated via the `updatepricehistory.py` script.

In [7]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Price History',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [8]:
grouped_df = db['steamusers'].aggregate([
{"$match": {}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'date'}, inplace=True)
grouped_df

           date  count
0    2018-12-19    119
1    2018-12-20    340
2    2018-12-21    751
3    2018-12-22   1021
4    2018-12-23    932
5    2018-12-24    980
6    2018-12-25    938
7    2018-12-26    924
8    2018-12-27   1106
9    2018-12-28   1287
10   2018-12-29   1219
11   2018-12-30   1176
12   2018-12-31   1214
13   2019-01-01    943
14   2019-01-03    346
15   2019-01-05    617
16   2019-01-06    717
17   2019-01-07    134
18   2019-01-08    170
19   2019-01-09    351
20   2019-01-10     62
21   2019-01-11    267
22   2019-01-12    363
23   2019-01-13    409
24   2019-01-14    631
25   2019-01-15    626
26   2019-01-16    628
27   2019-01-17    597
28   2019-01-18    600
29   2019-01-19    627
..          ...    ...
181  2019-06-20    618
182  2019-06-21    631
183  2019-06-22    628
184  2019-06-23    621
185  2019-06-24    537
186  2019-06-25    465
187  2019-06-26    401
188  2019-06-27    776
189  2019-06-28    853
190  2019-06-29    661
191  2019-06-30    631
192  2019-07-01    633
193  2019-07-02    635
194  2019-07-03    363
195  2019-07-04     49
196  2019-07-05    277
197  2019-07-06    893
198  2019-07-07   1184
199  2019-07-08    917
200  2019-07-09    906
201  2019-07-10    872
202  2019-07-11    695
203  2019-07-12   1021
204  2019-07-13   1456
205  2019-07-14   1136
206  2019-07-15    624
207  2019-07-16    630
208  2019-07-17    630
209  2019-07-18    559
210  2019-07-19    260

[211 rows x 2 columns]

## These are the number of records we have per day for the `steamusers` Mongo collection.  This is created using the `steamusers.py` script.

In [9]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for steamusers',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [10]:
grouped_df = db['topgames'].aggregate([
{"$match": {}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'date'}, inplace=True)
grouped_df

           date  count
0    2019-01-08    300
1    2019-01-09   2300
2    2019-01-10    100
3    2019-01-13   4000
4    2019-01-14   9000
5    2019-01-15   8400
6    2019-01-16   9200
7    2019-01-17   8500
8    2019-01-18   9100
9    2019-01-19   5200
10   2019-01-20   9200
11   2019-01-21   8500
12   2019-01-22   9000
13   2019-01-23   8400
14   2019-01-24   9100
15   2019-01-25   8600
16   2019-01-26   8700
17   2019-01-27   8600
18   2019-01-28   8200
19   2019-01-29   8700
20   2019-01-30   8100
21   2019-01-31   8600
22   2019-02-01   8200
23   2019-02-02   8600
24   2019-02-03   7000
25   2019-02-05   4100
26   2019-02-06   8700
27   2019-02-07   8200
28   2019-02-08   8500
29   2019-02-09   8200
..          ...    ...
155  2019-06-18   8100
156  2019-06-19   8700
157  2019-06-20   8400
158  2019-06-21   8300
159  2019-06-22   8300
160  2019-06-23   8000
161  2019-06-24   8700
162  2019-06-25   6800
163  2019-06-27   7400
164  2019-06-28   8700
165  2019-06-29   6700
166  2019-06-30   8400
167  2019-07-01   8000
168  2019-07-02   8500
169  2019-07-03   8000
170  2019-07-04   1800
171  2019-07-07   7000
172  2019-07-08   8000
173  2019-07-09   8100
174  2019-07-10   8700
175  2019-07-11   8700
176  2019-07-12   8700
177  2019-07-13   8800
178  2019-07-14   8300
179  2019-07-15   8600
180  2019-07-16   8800
181  2019-07-17   8700
182  2019-07-18   8700
183  2019-07-19   8800
184  2019-07-20   6200

[185 rows x 2 columns]

## These are the number of entries we have per day for the `topgames` Mongo collection.  Each query returns the current top 100 games being played.  This is run every 15 minutes.

In [11]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for topgames',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [12]:
steam_grouped_df = db['opencritic'].aggregate([
{"$match": {"steamId": {"$exists": True}}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

steam_grouped_df = pd.DataFrame(list(steam_grouped_df))
steam_grouped_df.rename(columns={steam_grouped_df.columns[0] : 'date'}, inplace=True)

nonsteam_grouped_df = db['opencritic'].aggregate([
{"$match": {"steamId": {"$exists": False}}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

nonsteam_grouped_df = pd.DataFrame(list(nonsteam_grouped_df))
nonsteam_grouped_df.rename(columns={nonsteam_grouped_df.columns[0] : 'date'}, inplace=True)

print(steam_grouped_df)
print(nonsteam_grouped_df)

         date  count
0  2019-07-15    525
1  2019-07-16    550
2  2019-07-17    550
3  2019-07-18    525
4  2019-07-19    550
5  2019-07-20    400
         date  count
0  2019-07-15   3360
1  2019-07-16    353
2  2019-07-17    101
3  2019-07-18     45
4  2019-07-19     18
5  2019-07-20      9

## This is the breakdown of OpenCritic data we have by last accessed/updated date.

In [13]:
# https://plot.ly/python/bar-charts/#stacked-bar-chart

steamTrace = Bar(
    x=steam_grouped_df['date'],
    y=steam_grouped_df['count'],
    name='Games w/steamId'
)
nonSteamTrace = Bar(
    x=nonsteam_grouped_df['date'],
    y=nonsteam_grouped_df['count'],
    name='Games without steamId'
)

data = [steamTrace, nonSteamTrace]

layout = Layout(
        title='Distribution of OpenCritic Records Per Day Grouped By steamId',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        ),
        barmode='stack'
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

## This is counts of Twitch records by day grouped by a tie to Steam

In [14]:
steam_grouped_df = db['twitchhistorical'].aggregate([
{"$match": {"steamId": {"$exists": True}}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

steam_grouped_df = pd.DataFrame(list(steam_grouped_df))
steam_grouped_df.rename(columns={steam_grouped_df.columns[0] : 'date'}, inplace=True)

nonsteam_grouped_df = db['twitchhistorical'].aggregate([
{"$match": {"steamId": {"$exists": False}}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

nonsteam_grouped_df = pd.DataFrame(list(nonsteam_grouped_df))
nonsteam_grouped_df.rename(columns={nonsteam_grouped_df.columns[0] : 'date'}, inplace=True)

# https://plot.ly/python/bar-charts/#stacked-bar-chart

steamTrace = Bar(
    x=steam_grouped_df['date'],
    y=steam_grouped_df['count'],
    name='Games w/steamId'
)
nonSteamTrace = Bar(
    x=nonsteam_grouped_df['date'],
    y=nonsteam_grouped_df['count'],
    name='Games without steamId'
)

data = [steamTrace, nonSteamTrace]

layout = Layout(
        title='Distribution of Twitch Records Per Day Grouped By steamId',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        ),
        barmode='stack'
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

## Storage and disk usage information

In [15]:
# https://stackoverflow.com/questions/1094841/reusable-library-to-get-human-readable-version-of-file-size
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f %s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f %s%s" % (num, 'Yi', suffix)

for collection in db.list_collection_names():
    stats = db.command("collstats", str(collection))
    print(collection + " size: " + sizeof_fmt(stats['size']))

print("--------------------")
stats = db.command("dbstats")
print("Total Database Size: " + sizeof_fmt(stats['dataSize']))

twitchhistorical size: 128.4 MiB
apps size: 546.5 MiB
pricehistory size: 519.1 MiB
topgames size: 244.7 MiB
steamusers size: 9.5 MiB
opencritic size: 72.7 MiB
--------------------
Total Database Size: 1.5 GiB

## Check index size across collections

In [20]:
total_index = 0
for collection in db.list_collection_names():
    stats = db.command("collstats", str(collection))
    total_index = total_index + stats['totalIndexSize']
    print(collection + " size: " + sizeof_fmt(stats['totalIndexSize']))

print("--------------------")
print("Total Index Size: " + sizeof_fmt(total_index))

twitchhistorical size: 10.8 MiB
apps size: 6.6 MiB
pricehistory size: 159.7 MiB
topgames size: 28.1 MiB
steamusers size: 4.1 MiB
opencritic size: 472.0 KiB
--------------------
Total Index Size: 209.8 MiB