In [4]:
import sys, os
from pymongo import MongoClient

from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *

# https://stackoverflow.com/questions/41323423/plotly-inside-jupyter-notebook-python
init_notebook_mode(connected=True) # initiate notebook for offline plot

import pandas as pd

In [5]:
sys.path.append("..")
import config # ../config.py

# run on raspberrypi3 Mongo database
#config.mongodb_ip = "192.168.1.224"
# run on Asus laptop Mongo database
#config.mongodb_ip = "192.168.1.124"

client = MongoClient(host=config.mongodb_ip, port=config.mongodb_port)
db = client['steam']

## Failed appids excluded from future attempts or analysis

In [6]:
failed_appids_df = pd.DataFrame(list(db['apps'].find({"failureCount": {"$gte":3}}, {"appid":1,"name":1,"_id":False})))
failed_appids_df

         appid                                               name
0        12630                                Legend: Hand of God
1        15310                    The Settlers: Heritage of Kings
2        19930     The Settlers: Rise of an Empire Gold Edition
3        23330                              The Last Remnant Demo
4        33910                                             Arma 2
5        33220             Tom Clancy's Splinter Cell: Conviction
6        63600                                           realMyst
7        81675                          Ticket to Ride Trailer DE
8        81674                          Ticket to Ride Trailer EN
9        81676                          Ticket to Ride Trailer FR
10      210897              Crusader Kings II: African Portraits
11      227240                                   Construct 2 Free
12      233250                             Planetary Annihilation
13           7                                       Steam Client
14         215                               Source SDK Base 2006
15         852                                    ValveTestApp852
16         972                 Sam & Max 105: Reality 2.0 Trailer
17        1259                                      Killing Floor
18        1306                     SiN Episodes: Emergence German
19        1635                  Disciples II ROTE Scenario Editor
20        2580                       Vigil: Blood Bitterness Demo
21        3160                              A Farewell to Dragons
22        3472                    Bookworm Adventures Deluxe Demo
23        4270                      RACE 07 Demo Dedicated Server
24          90                         Half-Life Dedicated Server
25         100      Counter-Strike: Condition Zero Deleted Scenes
26         644                           Portal 2 Publishing Tool
27         756                                  Steam Big Picture
28         944                                   Left4Dead Teaser
29         989               Juiced 2 - Hot Import Nights Trailer
...        ...                                                ...
10025   830840                   Space Junkies - Uplay Activation
10026  1057810             Wolfenstein: Youngblood German Edition
10027  1031340        Space Junkies - Uplay Activation [Preorder]
10028  1050717  Rainbow Six Siege - Pro League Kaid Set Uplay ...
10029  1050715  Rainbow Six Siege - Pro League Nomad Set Uplay...
10030  1057820             Wolfenstein: Cyberpilot German Edition
10031  1046322  DFF NT: Additional Chat Messages for Terra Bra...
10032  1046341  DFF NT: Courtly Headdress, Kefka Palazzo's 5th...
10033  1054280            Endless SpaceÂ® 2 - Muck & Makers Update
10034   911400                    Assassin's Creed III Remastered
10035  1046340  DFF NT: Fallen One Appearance Set for Kefka Pa...
10036  1057910  hackerone_test_app3 (application created witho...
10037  1046342  DFF NT: Additional Chat Messages for Kefka Pal...
10038  1042813              Winning Post 9 è¿½å ã³ã³ãã³ã ç§æ¸è¡£è£ï¼ã³ã¹ãã¬ã»ããï¼ï¼
10039  1046321  DFF NT: Ultima Weapon, Terra Branford's 5th We...
10040   957733                             HITMANâ¢Â 2 - Hantu Port
10041  1046320  DFF NT: The Espers' Progeny Appearance Set for...
10042  1050713  Rainbow Six Siege - Pro League Clash Set Uplay...
10043   958260                DEAD OR ALIVE Xtreme Venus Vacation
10044  1050711  Rainbow Six Siege - Pro League Maverick Set Up...
10045   881430                            Spoxel Dedicated Server
10046  1049240            The Elder Scrolls Online - Starter Pack
10047  1014000                 GUST 25th Anniversary "BGM pack 2"
10048   723520     SCP: Infinite Furniture Store Dedicated Server
10049  1015850               Facility Landmark "20th Anniversary"
10050  1061720                                    CryoFall Editor
10051  1047460                                    RAD Closed Beta
10052  1011180  SUPER DRAGON BALL HEROES WORLD MISSION - Power...
10053   920601         BIOHAZARD 2 Z - All In-game Rewards Unlock
10054   872070        Life is Strange 2 - Arcadia Bay Patches DLC

[10055 rows x 2 columns]

In [7]:
all_times_df = pd.DataFrame(list(db['apps'].find({"$or": [{"failureCount": {"$lt": 3}}, {"failureCount": {"$exists": False}}]}, {"updated_date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='updated_date', freq='D')).size())
grouped_df['updated_date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

              count updated_date
updated_date
2019-03-13      955   2019-03-13
2019-03-14     3970   2019-03-14
2019-03-15     3538   2019-03-15
2019-03-16     3542   2019-03-16
2019-03-17        0   2019-03-17
2019-03-18     2984   2019-03-18
2019-03-19     3552   2019-03-19
2019-03-20     3531   2019-03-20
2019-03-21     2485   2019-03-21
2019-03-22     2862   2019-03-22
2019-03-23     3601   2019-03-23
2019-03-24     3063   2019-03-24
2019-03-25     2984   2019-03-25
2019-03-26      995   2019-03-26
2019-03-27     1489   2019-03-27
2019-03-28     3775   2019-03-28
2019-03-29      721   2019-03-29
2019-03-30     3934   2019-03-30
2019-03-31     2551   2019-03-31
2019-04-01        0   2019-04-01
2019-04-02     3433   2019-04-02
2019-04-03     3575   2019-04-03
2019-04-04     2533   2019-04-04
2019-04-05     3261   2019-04-05
2019-04-06     3387   2019-04-06
2019-04-07     1016   2019-04-07

## Large numbers of old AppID entries means `refreshsteam.py` needs to be run.  This excludes consistently failed appids.

In [8]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['updated_date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='AppIDs By Last Updated Date',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [9]:
all_times_df = pd.DataFrame(list(db['pricehistory'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2018-09-04   8215 2018-09-04
2018-09-05  43441 2018-09-05
2018-09-06  37421 2018-09-06
2018-09-07  23655 2018-09-07
2018-09-08  37188 2018-09-08
2018-09-09      0 2018-09-09
2018-09-10   2963 2018-09-10
2018-09-11  45999 2018-09-11
2018-09-12  20210 2018-09-12
2018-09-13    269 2018-09-13
2018-09-14  37390 2018-09-14
2018-09-15  37650 2018-09-15
2018-09-16      0 2018-09-16
2018-09-17  13770 2018-09-17
2018-09-18  23910 2018-09-18
2018-09-19      0 2018-09-19
2018-09-20  45652 2018-09-20
2018-09-21      0 2018-09-21
2018-09-22  36531 2018-09-22
2018-09-23      0 2018-09-23
2018-09-24   6238 2018-09-24
2018-09-25  34293 2018-09-25
2018-09-26      0 2018-09-26
2018-09-27  36969 2018-09-27
2018-09-28  36974 2018-09-28
2018-09-29      0 2018-09-29
2018-09-30   9130 2018-09-30
2018-10-01  27797 2018-10-01
2018-10-02      0 2018-10-02
2018-10-03  36964 2018-10-03
...           ...        ...
2019-03-09   2526 2019-03-09
2019-03-10  45256 2019-03-10
2019-03-11   1985 2019-03-11
2019-03-12   1670 2019-03-12
2019-03-13   2847 2019-03-13
2019-03-14  45740 2019-03-14
2019-03-15   2696 2019-03-15
2019-03-16  45413 2019-03-16
2019-03-17      0 2019-03-17
2019-03-18  45074 2019-03-18
2019-03-19   2655 2019-03-19
2019-03-20  45645 2019-03-20
2019-03-21   1917 2019-03-21
2019-03-22   2140 2019-03-22
2019-03-23   2776 2019-03-23
2019-03-24  45296 2019-03-24
2019-03-25   2287 2019-03-25
2019-03-26  23222 2019-03-26
2019-03-27   1123 2019-03-27
2019-03-28   2697 2019-03-28
2019-03-29    535 2019-03-29
2019-03-30  26883 2019-03-30
2019-03-31   1855 2019-03-31
2019-04-01      0 2019-04-01
2019-04-02   2441 2019-04-02
2019-04-03   2453 2019-04-03
2019-04-04  44723 2019-04-04
2019-04-05   1709 2019-04-05
2019-04-06   2449 2019-04-06
2019-04-07  69269 2019-04-07

[216 rows x 2 columns]

## This is historical data from the `pricehistory` Mongo collection.  This is run roughly every 48 hours.

In [10]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Price History',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [11]:
all_times_df = pd.DataFrame(list(db['steamusers'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2018-12-19    119 2018-12-19
2018-12-20    340 2018-12-20
2018-12-21    751 2018-12-21
2018-12-22   1021 2018-12-22
2018-12-23    932 2018-12-23
2018-12-24    980 2018-12-24
2018-12-25    938 2018-12-25
2018-12-26    924 2018-12-26
2018-12-27   1106 2018-12-27
2018-12-28   1287 2018-12-28
2018-12-29   1219 2018-12-29
2018-12-30   1176 2018-12-30
2018-12-31   1214 2018-12-31
2019-01-01    943 2019-01-01
2019-01-02      0 2019-01-02
2019-01-03    346 2019-01-03
2019-01-04      0 2019-01-04
2019-01-05    617 2019-01-05
2019-01-06    717 2019-01-06
2019-01-07    134 2019-01-07
2019-01-08    170 2019-01-08
2019-01-09    351 2019-01-09
2019-01-10     62 2019-01-10
2019-01-11    267 2019-01-11
2019-01-12    363 2019-01-12
2019-01-13    409 2019-01-13
2019-01-14    631 2019-01-14
2019-01-15    626 2019-01-15
2019-01-16    628 2019-01-16
2019-01-17    597 2019-01-17
...           ...        ...
2019-03-09    642 2019-03-09
2019-03-10    701 2019-03-10
2019-03-11    728 2019-03-11
2019-03-12    620 2019-03-12
2019-03-13    622 2019-03-13
2019-03-14    625 2019-03-14
2019-03-15    627 2019-03-15
2019-03-16    338 2019-03-16
2019-03-17    297 2019-03-17
2019-03-18    586 2019-03-18
2019-03-19    625 2019-03-19
2019-03-20    567 2019-03-20
2019-03-21    565 2019-03-21
2019-03-22    625 2019-03-22
2019-03-23    628 2019-03-23
2019-03-24    627 2019-03-24
2019-03-25    470 2019-03-25
2019-03-26    467 2019-03-26
2019-03-27    460 2019-03-27
2019-03-28    427 2019-03-28
2019-03-29    593 2019-03-29
2019-03-30    323 2019-03-30
2019-03-31     13 2019-03-31
2019-04-01    295 2019-04-01
2019-04-02    619 2019-04-02
2019-04-03    871 2019-04-03
2019-04-04    868 2019-04-04
2019-04-05    716 2019-04-05
2019-04-06    628 2019-04-06
2019-04-07    232 2019-04-07

[110 rows x 2 columns]

## These are the number of records we have per day for the `steamusers` Mongo collection.  This is created using the `steamusers.py` script.

In [12]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for steamusers',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [13]:
all_times_df = pd.DataFrame(list(db['topgames'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2019-01-08    300 2019-01-08
2019-01-09   2300 2019-01-09
2019-01-10    100 2019-01-10
2019-01-11      0 2019-01-11
2019-01-12      0 2019-01-12
2019-01-13   4000 2019-01-13
2019-01-14   9000 2019-01-14
2019-01-15   8400 2019-01-15
2019-01-16   9200 2019-01-16
2019-01-17   8500 2019-01-17
2019-01-18   9100 2019-01-18
2019-01-19   5200 2019-01-19
2019-01-20   9200 2019-01-20
2019-01-21   8500 2019-01-21
2019-01-22   9000 2019-01-22
2019-01-23   8400 2019-01-23
2019-01-24   9100 2019-01-24
2019-01-25   8600 2019-01-25
2019-01-26   8700 2019-01-26
2019-01-27   8600 2019-01-27
2019-01-28   8200 2019-01-28
2019-01-29   8700 2019-01-29
2019-01-30   8100 2019-01-30
2019-01-31   8600 2019-01-31
2019-02-01   8200 2019-02-01
2019-02-02   8600 2019-02-02
2019-02-03   7000 2019-02-03
2019-02-04      0 2019-02-04
2019-02-05   4100 2019-02-05
2019-02-06   8700 2019-02-06
...           ...        ...
2019-03-09   8600 2019-03-09
2019-03-10   8100 2019-03-10
2019-03-11   8700 2019-03-11
2019-03-12   8600 2019-03-12
2019-03-13   8600 2019-03-13
2019-03-14   8000 2019-03-14
2019-03-15   8600 2019-03-15
2019-03-16   8000 2019-03-16
2019-03-17    600 2019-03-17
2019-03-18   7200 2019-03-18
2019-03-19   8700 2019-03-19
2019-03-20   8100 2019-03-20
2019-03-21   6400 2019-03-21
2019-03-22   7100 2019-03-22
2019-03-23   8300 2019-03-23
2019-03-24   8200 2019-03-24
2019-03-25   7900 2019-03-25
2019-03-26   1800 2019-03-26
2019-03-27   4600 2019-03-27
2019-03-28   8700 2019-03-28
2019-03-29    700 2019-03-29
2019-03-30   8400 2019-03-30
2019-03-31   7000 2019-03-31
2019-04-01      0 2019-04-01
2019-04-02   8300 2019-04-02
2019-04-03   8700 2019-04-03
2019-04-04   7500 2019-04-04
2019-04-05   8600 2019-04-05
2019-04-06   8600 2019-04-06
2019-04-07   2900 2019-04-07

[90 rows x 2 columns]

## These are the number of entries we have per day for the `topgames` Mongo collection.  Each query returns the current top 100 games being played.  This is run every 15 minutes.

In [14]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for topgames',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

## Storage and disk usage information

In [15]:
# https://stackoverflow.com/questions/1094841/reusable-library-to-get-human-readable-version-of-file-size
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f %s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f %s%s" % (num, 'Yi', suffix)

for collection in db.list_collection_names():
    stats = db.command("collstats", str(collection))
    print(collection + " size: " + sizeof_fmt(stats['size']))

print("--------------------")
stats = db.command("dbstats")
print("Total Steam DB Size: " + sizeof_fmt(stats['dataSize']))

topgames size: 115.9 MiB
apps size: 507.8 MiB
steamusers size: 4.8 MiB
pricehistory size: 540.0 MiB
--------------------
Total Steam DB Size: 1.1 GiB