In [52]:
import sys, os
from pymongo import MongoClient

from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *

# https://stackoverflow.com/questions/41323423/plotly-inside-jupyter-notebook-python
init_notebook_mode(connected=True) # initiate notebook for offline plot

import pandas as pd

In [53]:
sys.path.append("..")
import config # ../config.py

# run on raspberrypi3 Mongo database
#config.mongodb_ip = "192.168.1.224"
# run on Asus laptop Mongo database
#config.mongodb_ip = "192.168.1.124"

client = MongoClient(host=config.mongodb_ip, port=config.mongodb_port)
db = client['steam']

## Failed appids excluded from future attempts or analysis

In [54]:
failed_appids_df = pd.DataFrame(list(db['apps'].find({"failureCount": {"$gte":3}}, {"appid":1,"name":1,"_id":False})))
failed_appids_df

         appid                                               name
0        12630                                Legend: Hand of God
1        15310                    The Settlers: Heritage of Kings
2        19930     The Settlers: Rise of an Empire Gold Edition
3        23330                              The Last Remnant Demo
4        33910                                             Arma 2
5        33220             Tom Clancy's Splinter Cell: Conviction
6        63600                                           realMyst
7        81675                          Ticket to Ride Trailer DE
8        81674                          Ticket to Ride Trailer EN
9        81676                          Ticket to Ride Trailer FR
10      210897              Crusader Kings II: African Portraits
11      227240                                   Construct 2 Free
12      233250                             Planetary Annihilation
13           7                                       Steam Client
14         215                               Source SDK Base 2006
15         852                                    ValveTestApp852
16         972                 Sam & Max 105: Reality 2.0 Trailer
17        1259                                      Killing Floor
18        1306                     SiN Episodes: Emergence German
19        1635                  Disciples II ROTE Scenario Editor
20        2580                       Vigil: Blood Bitterness Demo
21        3160                              A Farewell to Dragons
22        3472                    Bookworm Adventures Deluxe Demo
23        4270                      RACE 07 Demo Dedicated Server
24          90                         Half-Life Dedicated Server
25         100      Counter-Strike: Condition Zero Deleted Scenes
26         644                           Portal 2 Publishing Tool
27         756                                  Steam Big Picture
28         944                                   Left4Dead Teaser
29         989               Juiced 2 - Hot Import Nights Trailer
...        ...                                                ...
10175  1071470                Planetes Community Dedicated Server
10176   870279                                Shazam Movie Part 2
10177  1056920  Dream Beach - Mallorca | VR Nature Experience ...
10178  1016550  Nelke & the LA: Facility Landmark "Sophie's st...
10179  1054873                             Ninja Mime Johnny Cage
10180  1054870                                   Kold War Skarlet
10181  1054871                                    Cangaceiro Kano
10182  1054872                                Gold Demon Scorpion
10183  1062511           Winning Post 9 追加コンテンツ 世界への飛翔 購入権セット 全４頭
10184  1062514            Winning Post 9 追加コンテンツ 究極の大器 購入権セット 全３頭
10185  1062512             Winning Post 9 追加コンテンツ 最強古馬 購入権セット 全２頭
10186  1062515             Winning Post 9 追加コンテンツ 名馬購入権フルセット 全１８頭
10187  1062510            Winning Post 9 追加コンテンツ 牡馬三冠馬 購入権セット 全３頭
10188  1062513            Winning Post 9 追加コンテンツ 歴史的名牝 購入権セット 全６頭
10189   997163  BLACK CLOVER: QUARTET KNIGHTS VO: “Yami Sukehi...
10190  1079220  Starlink: Battle for Atlas - Standard Edition ...
10191  1079240  Starlink: Battle for Atlas - Collection pack 1...
10192  1075452  Starlink: Battle for Atlas - Collection pack 1...
10193  1075450  Starlink: Battle for Atlas - Standard Edition ...
10194  1079221  Starlink: Battle for Atlas - Deluxe Edition - ...
10195  1075451  Starlink: Battle for Atlas - Deluxe Edition - ...
10196  1075453  Starlink: Battle for Atlas - Collection pack 2...
10197   629800                           MORDHAU Dedicated Server
10198  1080910               Kickstarter Skin - GSO Laser Weapons
10199  1080911            Kickstarter Skin - Mining Crew Hardcore
10200  1020570    DRAGON BALL FighterZ - Commentator Voice Pack 2
10201  1020571    DRAGON BALL FighterZ - Commentator Voice Pack 3
10202  1020572    DRAGON BALL FighterZ - Commentator Voice Pack 4
10203   925102      The Elder Scrolls Online - Rahd-m'Athra Horse
10204   982260                     Blazing Beaks Character Editor

[10205 rows x 2 columns]

In [55]:
grouped_df = db['apps'].aggregate([
{"$match":
    {"$or": [{"failureCount": {"$lt": 3}}, {"failureCount": {"$exists": False}}]}
},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$updated_date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'updated_date'}, inplace=True)
grouped_df

   updated_date  count
0    2019-04-15    436
1    2019-04-16   3587
2    2019-04-17   3478
3    2019-04-18   3537
4    2019-04-19   3780
5    2019-04-20   1749
6    2019-04-21   2993
7    2019-04-22   3003
8    2019-04-23   3311
9    2019-04-24   3553
10   2019-04-25   3550
11   2019-04-26   3070
12   2019-04-27   3016
13   2019-04-28   3846
14   2019-04-29    500
15   2019-04-30   2984
16   2019-05-01   2213
17   2019-05-02   2498
18   2019-05-03   1212
19   2019-05-04    546
20   2019-05-05   3975
21   2019-05-06   2205
22   2019-05-07   2990
23   2019-05-08   2509
24   2019-05-09   2154
25   2019-05-10   2042
26   2019-05-11    499

## Large numbers of old AppID entries means `refreshsteam.py` needs to be run.  This excludes consistently failed appids.

In [56]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['updated_date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='AppIDs By Last Updated Date',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [57]:
grouped_df = db['pricehistory'].aggregate([
{"$match": {}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'date'}, inplace=True)
grouped_df

           date  count
0    2018-09-04   8215
1    2018-09-05  43441
2    2018-09-06  37421
3    2018-09-07  23655
4    2018-09-08  37188
5    2018-09-10   2963
6    2018-09-11  45999
7    2018-09-12  20210
8    2018-09-13    269
9    2018-09-14  37390
10   2018-09-15  37650
11   2018-09-17  13770
12   2018-09-18  23910
13   2018-09-20  45652
14   2018-09-22  36531
15   2018-09-24   6238
16   2018-09-25  34293
17   2018-09-27  36969
18   2018-09-28  36974
19   2018-09-30   9130
20   2018-10-01  27797
21   2018-10-03  36964
22   2018-10-05  37018
23   2018-10-06  23097
24   2018-10-07  13902
25   2018-10-09  37005
26   2018-10-12  37128
27   2018-10-14  37054
28   2018-10-17  37148
29   2018-10-20  37170
..          ...    ...
161  2019-04-12   2147
162  2019-04-13  45883
163  2019-04-14   2771
164  2019-04-15   2427
165  2019-04-16   2645
166  2019-04-17   2433
167  2019-04-18   2525
168  2019-04-19   2667
169  2019-04-20   1245
170  2019-04-21  31751
171  2019-04-22  14328
172  2019-04-23   2318
173  2019-04-24  46525
174  2019-04-25   2111
175  2019-04-26  45728
176  2019-04-27   2112
177  2019-04-28  47008
178  2019-04-29    381
179  2019-04-30   2108
180  2019-05-01   1473
181  2019-05-02  47075
182  2019-05-03    798
183  2019-05-04  44655
184  2019-05-05   2854
185  2019-05-06  45935
186  2019-05-07   2182
187  2019-05-08   1842
188  2019-05-09  45959
189  2019-05-10   1327
190  2019-05-11    340

[191 rows x 2 columns]

## This is historical data from the `pricehistory` Mongo collection.  This is run roughly every 48 hours.

In [58]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Price History',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [59]:
grouped_df = db['steamusers'].aggregate([
{"$match": {}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'date'}, inplace=True)
grouped_df

           date  count
0    2018-12-19    119
1    2018-12-20    340
2    2018-12-21    751
3    2018-12-22   1021
4    2018-12-23    932
5    2018-12-24    980
6    2018-12-25    938
7    2018-12-26    924
8    2018-12-27   1106
9    2018-12-28   1287
10   2018-12-29   1219
11   2018-12-30   1176
12   2018-12-31   1214
13   2019-01-01    943
14   2019-01-03    346
15   2019-01-05    617
16   2019-01-06    717
17   2019-01-07    134
18   2019-01-08    170
19   2019-01-09    351
20   2019-01-10     62
21   2019-01-11    267
22   2019-01-12    363
23   2019-01-13    409
24   2019-01-14    631
25   2019-01-15    626
26   2019-01-16    628
27   2019-01-17    597
28   2019-01-18    600
29   2019-01-19    627
..          ...    ...
112  2019-04-12    501
113  2019-04-13    500
114  2019-04-14    624
115  2019-04-15    630
116  2019-04-16    627
117  2019-04-17    628
118  2019-04-18    615
119  2019-04-19    513
120  2019-04-20    778
121  2019-04-21    874
122  2019-04-22    627
123  2019-04-23    624
124  2019-04-24    637
125  2019-04-25    636
126  2019-04-26    628
127  2019-04-27    578
128  2019-04-28    552
129  2019-04-29    608
130  2019-04-30    863
131  2019-05-01    848
132  2019-05-02    459
133  2019-05-03    465
134  2019-05-04    631
135  2019-05-05    623
136  2019-05-06    630
137  2019-05-07    711
138  2019-05-08    709
139  2019-05-09    647
140  2019-05-10    345
141  2019-05-11     15

[142 rows x 2 columns]

## These are the number of records we have per day for the `steamusers` Mongo collection.  This is created using the `steamusers.py` script.

In [60]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for steamusers',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [61]:
grouped_df = db['topgames'].aggregate([
{"$match": {}},
{"$group":  {"_id": {"$dateToString": {"format": "%Y-%m-%d", "date": "$date"}},
             "count" : { "$sum" : 1} } },
{"$sort": {"_id": 1}}
])

grouped_df = pd.DataFrame(list(grouped_df))
grouped_df.rename(columns={grouped_df.columns[0] : 'date'}, inplace=True)
grouped_df

           date  count
0    2019-01-08    300
1    2019-01-09   2300
2    2019-01-10    100
3    2019-01-13   4000
4    2019-01-14   9000
5    2019-01-15   8400
6    2019-01-16   9200
7    2019-01-17   8500
8    2019-01-18   9100
9    2019-01-19   5200
10   2019-01-20   9200
11   2019-01-21   8500
12   2019-01-22   9000
13   2019-01-23   8400
14   2019-01-24   9100
15   2019-01-25   8600
16   2019-01-26   8700
17   2019-01-27   8600
18   2019-01-28   8200
19   2019-01-29   8700
20   2019-01-30   8100
21   2019-01-31   8600
22   2019-02-01   8200
23   2019-02-02   8600
24   2019-02-03   7000
25   2019-02-05   4100
26   2019-02-06   8700
27   2019-02-07   8200
28   2019-02-08   8500
29   2019-02-09   8200
..          ...    ...
90   2019-04-12   8700
91   2019-04-13   8000
92   2019-04-14   8500
93   2019-04-15   8100
94   2019-04-16   8700
95   2019-04-17   8200
96   2019-04-18   8200
97   2019-04-19   8400
98   2019-04-20   3700
99   2019-04-21   8000
100  2019-04-22   8600
101  2019-04-23   8600
102  2019-04-24   7800
103  2019-04-25   8600
104  2019-04-26   7200
105  2019-04-27   7000
106  2019-04-28   8100
107  2019-04-29   2300
108  2019-04-30   7000
109  2019-05-01   6400
110  2019-05-02   5600
111  2019-05-03   4000
112  2019-05-04   3400
113  2019-05-05   8200
114  2019-05-06   8000
115  2019-05-07   7800
116  2019-05-08   7100
117  2019-05-09   7000
118  2019-05-10   4400
119  2019-05-11   1400

[120 rows x 2 columns]

## These are the number of entries we have per day for the `topgames` Mongo collection.  Each query returns the current top 100 games being played.  This is run every 15 minutes.

In [62]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for topgames',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

## Storage and disk usage information

In [63]:
# https://stackoverflow.com/questions/1094841/reusable-library-to-get-human-readable-version-of-file-size
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f %s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f %s%s" % (num, 'Yi', suffix)

for collection in db.list_collection_names():
    stats = db.command("collstats", str(collection))
    print(collection + " size: " + sizeof_fmt(stats['size']))

print("--------------------")
stats = db.command("dbstats")
print("Total Steam DB Size: " + sizeof_fmt(stats['dataSize']))

topgames size: 159.0 MiB
apps size: 519.3 MiB
steamusers size: 6.4 MiB
pricehistory size: 389.0 MiB
--------------------
Total Steam DB Size: 1.0 GiB