In [14]:
import sys, os
from pymongo import MongoClient

from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *

# https://stackoverflow.com/questions/41323423/plotly-inside-jupyter-notebook-python
init_notebook_mode(connected=True) # initiate notebook for offline plot

import pandas as pd

In [15]:
sys.path.append("..")
import config # ../config.py

# run on raspberrypi3 Mongo database
# config.mongodb_ip = "192.168.1.224"

client = MongoClient(host=config.mongodb_ip, port=config.mongodb_port)
db = client['steam']

## Failed appids excluded from future attempts or analysis

In [26]:
failed_appids_df = pd.DataFrame(list(db['apps'].find({"failureCount": {"$gte":3}}, {"appid":1,"name":1,"_id":False})))
failed_appids_df

        appid                                               name
0           7                                       Steam Client
1           8                                             winui2
2          90                         Half-Life Dedicated Server
3         100      Counter-Strike: Condition Zero Deleted Scenes
4         205                            Source Dedicated Server
5         210                            Source Dedicated Server
6         211                                         Source SDK
7         215                               Source SDK Base 2006
8         218                               Source SDK Base 2007
9         260                        Counter-Strike: Source Beta
10        304                 Day of Defeat: Source Press Review
11        310                       Source 2007 Dedicated Server
12        364                                HL1:MP Linux client
13        456  Team Fortress 2 - Summer 2012 Community Bundle...
14        457      Team Fortress 2 - Summer 2012 Sale Bundle DLC
15        458                  Team Fortress 2 - Summer 2011 DLC
16        459                      Team Fortress 2 - Premium DLC
17        480                                           Spacewar
18        510                       Left 4 Dead Dedicated Server
19        513                        Left 4 Dead Authoring Tools
20        520                               Team Fortress 2 Beta
21        530                                   Left 4 Dead Demo
22        540                  Left 4 Dead Demo Dedicated Server
23        560                     Left 4 Dead 2 Dedicated Server
24        563                      Left 4 Dead 2 Authoring Tools
25        564                       Left 4 Dead 2 Add-on Support
26        565                         Left 4 Dead 2 Preorder DLC
27        575                             Dota 2 - English Depot
28        576                          Dota 2 - SteelSeries DLC
29        581                     Dota 2 - Murrissey the Smeevil
...       ...                                                ...
9025   952180  Master Car Creation in Blender Downloadable Co...
9026   859140                                              塔窝加速器
9027   944930                    Farming Simulator 19 - Mahindra
9028   931180                     Conan Exiles - Testlive Client
9029   931580           Conan Exiles - Testlive Dedicated Server
9030   685720                         WarFallen Dedicated Server
9031   950500                     NBA 2K Playgrounds 2 - 7500 VC
9032   927700                                  NBA 2K19 - 35k VC
9033   933571        WARRIORS OROCHI 4 - Sacred Treasures Pack 2
9034   933572                WARRIORS OROCHI 4 - Scenario Pack 2
9035   933573                     WARRIORS OROCHI 4 - BGM Pack 2
9036   870274                   LEGO® Aquaman Movie Level Pack 1
9037   919310                       The Quiet Man DLC- Wallpaper
9038   999420                   The Crew 2 - Full Game ownership
9039   999421                The Crew 2 - Free weekend ownership
9040   965420               Jurassic World Evolution - JingleJam
9041   990270      Black Desert Online - Legendary Package (New)
9042   996220          Insurgency: Sandstorm - Bug Hunter Tattoo
9043   997042       Renowned Explorers: Quest For The Holy Grail
9044   427460                             Battlerite Public Test
9045   764940                              Fear the Night Server
9046   997390                            Breathedge: Constructor
9047   302200                        Miscreated Dedicated Server
9048  1000620             Trove - Blade of the Celestial Empress
9049  1000621                             Trove - Soarwind Sword
9050   882430                 Beasts of Bermuda Dedicated Server
9051  1006030                             ATLAS Dedicated Server
9052   886440                                Super Versus Server
9053  1007170                             Artbook - Metal Pass 3
9054  1006890                       Gunsolvers: Dedicated server

[9055 rows x 2 columns]

In [17]:
all_times_df = pd.DataFrame(list(db['apps'].find({"$or": [{"failureCount": {"$lt": 3}}, {"failureCount": {"$exists": False}}]}, {"updated_date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='updated_date', freq='D')).size())
grouped_df['updated_date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

              count updated_date
updated_date
2018-09-03    10895   2018-09-03
2018-09-04    22905   2018-09-04
2018-09-05    23586   2018-09-05
2018-09-06       60   2018-09-06
2018-09-07        9   2018-09-07
2018-09-08        0   2018-09-08
2018-09-09        0   2018-09-09
2018-09-10        0   2018-09-10
2018-09-11        0   2018-09-11
2018-09-12        0   2018-09-12
2018-09-13      448   2018-09-13
2018-09-14        0   2018-09-14
2018-09-15       80   2018-09-15
2018-09-16        0   2018-09-16
2018-09-17       73   2018-09-17
2018-09-18        0   2018-09-18
2018-09-19        0   2018-09-19
2018-09-20      299   2018-09-20
2018-09-21        0   2018-09-21
2018-09-22      163   2018-09-22
2018-09-23        0   2018-09-23
2018-09-24       51   2018-09-24
2018-09-25        0   2018-09-25
2018-09-26        0   2018-09-26
2018-09-27      147   2018-09-27
2018-09-28      134   2018-09-28
2018-09-29        0   2018-09-29
2018-09-30       36   2018-09-30
2018-10-01        0   2018-10-01
2018-10-02        0   2018-10-02
...             ...          ...
2018-12-10       40   2018-12-10
2018-12-11        0   2018-12-11
2018-12-12      105   2018-12-12
2018-12-13        0   2018-12-13
2018-12-14      207   2018-12-14
2018-12-15        0   2018-12-15
2018-12-16        0   2018-12-16
2018-12-17       61   2018-12-17
2018-12-18        0   2018-12-18
2018-12-19      133   2018-12-19
2018-12-20        0   2018-12-20
2018-12-21      206   2018-12-21
2018-12-22        0   2018-12-22
2018-12-23        0   2018-12-23
2018-12-24        3   2018-12-24
2018-12-25       79   2018-12-25
2018-12-26        0   2018-12-26
2018-12-27        0   2018-12-27
2018-12-28       74   2018-12-28
2018-12-29        0   2018-12-29
2018-12-30       24   2018-12-30
2018-12-31        0   2018-12-31
2019-01-01       18   2019-01-01
2019-01-02        0   2019-01-02
2019-01-03       51   2019-01-03
2019-01-04        0   2019-01-04
2019-01-05       32   2019-01-05
2019-01-06        2   2019-01-06
2019-01-07        0   2019-01-07
2019-01-08        3   2019-01-08

[128 rows x 2 columns]

## Large numbers of old AppID entries means `refreshsteam.py` needs to be run.  This excludes consistently failed appids.

In [18]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['updated_date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='AppIDs By Last Updated Date',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [19]:
all_times_df = pd.DataFrame(list(db['pricehistory'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2018-09-04   8215 2018-09-04
2018-09-05  43441 2018-09-05
2018-09-06  37421 2018-09-06
2018-09-07  23655 2018-09-07
2018-09-08  37188 2018-09-08
2018-09-09      0 2018-09-09
2018-09-10   2963 2018-09-10
2018-09-11  45999 2018-09-11
2018-09-12  20210 2018-09-12
2018-09-13    269 2018-09-13
2018-09-14  37390 2018-09-14
2018-09-15  37650 2018-09-15
2018-09-16      0 2018-09-16
2018-09-17  13770 2018-09-17
2018-09-18  23910 2018-09-18
2018-09-19      0 2018-09-19
2018-09-20  45652 2018-09-20
2018-09-21      0 2018-09-21
2018-09-22  36531 2018-09-22
2018-09-23      0 2018-09-23
2018-09-24   6238 2018-09-24
2018-09-25  34293 2018-09-25
2018-09-26      0 2018-09-26
2018-09-27  36969 2018-09-27
2018-09-28  36974 2018-09-28
2018-09-29      0 2018-09-29
2018-09-30   9130 2018-09-30
2018-10-01  27797 2018-10-01
2018-10-02      0 2018-10-02
2018-10-03  36964 2018-10-03
...           ...        ...
2018-12-10  37514 2018-12-10
2018-12-11      0 2018-12-11
2018-12-12  36924 2018-12-12
2018-12-13      0 2018-12-13
2018-12-14  37700 2018-12-14
2018-12-15      0 2018-12-15
2018-12-16      0 2018-12-16
2018-12-17  37622 2018-12-17
2018-12-18      0 2018-12-18
2018-12-19  26636 2018-12-19
2018-12-20      0 2018-12-20
2018-12-21  37138 2018-12-21
2018-12-22      0 2018-12-22
2018-12-23      0 2018-12-23
2018-12-24  37607 2018-12-24
2018-12-25  37691 2018-12-25
2018-12-26      0 2018-12-26
2018-12-27      0 2018-12-27
2018-12-28  37726 2018-12-28
2018-12-29      0 2018-12-29
2018-12-30  37724 2018-12-30
2018-12-31      0 2018-12-31
2019-01-01  37721 2019-01-01
2019-01-02      0 2019-01-02
2019-01-03  37718 2019-01-03
2019-01-04      0 2019-01-04
2019-01-05     68 2019-01-05
2019-01-06      2 2019-01-06
2019-01-07      0 2019-01-07
2019-01-08     43 2019-01-08

[127 rows x 2 columns]

## This is historical data from the `pricehistory` Mongo collection.  This is run roughly every 48 hours.

In [20]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Price History',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [21]:
all_times_df = pd.DataFrame(list(db['steamusers'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2018-11-17     43 2018-11-17
2018-11-18    302 2018-11-18
2018-11-19    259 2018-11-19
2018-11-20      0 2018-11-20
2018-11-21      0 2018-11-21
2018-11-22      0 2018-11-22
2018-11-23      0 2018-11-23
2018-11-24      0 2018-11-24
2018-11-25      0 2018-11-25
2018-11-26      0 2018-11-26
2018-11-27      0 2018-11-27
2018-11-28      0 2018-11-28
2018-11-29      0 2018-11-29
2018-11-30      0 2018-11-30
2018-12-01      0 2018-12-01
2018-12-02      0 2018-12-02
2018-12-03      0 2018-12-03
2018-12-04      0 2018-12-04
2018-12-05      0 2018-12-05
2018-12-06      0 2018-12-06
2018-12-07      0 2018-12-07
2018-12-08      0 2018-12-08
2018-12-09      0 2018-12-09
2018-12-10      0 2018-12-10
2018-12-11      0 2018-12-11
2018-12-12      0 2018-12-12
2018-12-13      0 2018-12-13
2018-12-14      0 2018-12-14
2018-12-15      0 2018-12-15
2018-12-16      0 2018-12-16
2018-12-17      0 2018-12-17
2018-12-18      0 2018-12-18
2018-12-19    119 2018-12-19
2018-12-20    340 2018-12-20
2018-12-21    751 2018-12-21
2018-12-22   1021 2018-12-22
2018-12-23    932 2018-12-23
2018-12-24    980 2018-12-24
2018-12-25    938 2018-12-25
2018-12-26    924 2018-12-26
2018-12-27   1106 2018-12-27
2018-12-28   1287 2018-12-28
2018-12-29   1219 2018-12-29
2018-12-30   1176 2018-12-30
2018-12-31   1214 2018-12-31
2019-01-01    943 2019-01-01
2019-01-02      0 2019-01-02
2019-01-03    358 2019-01-03
2019-01-04    205 2019-01-04
2019-01-05    336 2019-01-05
2019-01-06    453 2019-01-06
2019-01-07     31 2019-01-07
2019-01-08    299 2019-01-08

## These are the number of records we have per day for the `steamusers` Mongo collection.  This is created using the `steamusers.py` script.

In [22]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for steamusers',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [23]:
all_times_df = pd.DataFrame(list(db['topgames'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2019-01-05   2500 2019-01-05
2019-01-06    300 2019-01-06
2019-01-07      0 2019-01-07
2019-01-08    100 2019-01-08

## These are the number of entries we have per day for the `topgames` Mongo collection.  Each query returns the current top 100 games being played.  This is run every 15 minutes.

In [24]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for topgames',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

## Storage and disk usage information

In [25]:
# https://stackoverflow.com/questions/1094841/reusable-library-to-get-human-readable-version-of-file-size
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f %s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f %s%s" % (num, 'Yi', suffix)

for collection in db.list_collection_names():
    stats = db.command("collstats", str(collection))
    print(collection + " size: " + sizeof_fmt(stats['size']))

print("--------------------")
stats = db.command("dbstats")
print("Total Steam DB Size: " + sizeof_fmt(stats['dataSize']))

topgames size: 528.1 KiB
apps size: 464.6 MiB
steamusers size: 1.1 MiB
pricehistory size: 275.0 MiB
systemreqs size: 5.7 MiB
--------------------
Total Steam DB Size: 747.0 MiB