In [70]:
import sys, os
from pymongo import MongoClient

from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *

# https://stackoverflow.com/questions/41323423/plotly-inside-jupyter-notebook-python
init_notebook_mode(connected=True) # initiate notebook for offline plot

import pandas as pd

In [71]:
sys.path.append("..")
import config # ../config.py

# run on raspberrypi3 Mongo database
# config.mongodb_ip = "192.168.1.224"

client = MongoClient(host=config.mongodb_ip, port=config.mongodb_port)
db = client['steam']

In [72]:
all_times_df = pd.DataFrame(list(db['apps'].find({}, {"updated_date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='updated_date', freq='D')).size())
grouped_df['updated_date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

              count updated_date
updated_date
2018-09-03     8980   2018-09-03
2018-09-04    22882   2018-09-04
2018-09-05    23554   2018-09-05
2018-09-06       60   2018-09-06
2018-09-07        9   2018-09-07
2018-09-08        0   2018-09-08
2018-09-09        0   2018-09-09
2018-09-10        0   2018-09-10
2018-09-11        0   2018-09-11
2018-09-12        0   2018-09-12
2018-09-13      448   2018-09-13
2018-09-14        0   2018-09-14
2018-09-15       80   2018-09-15
2018-09-16        0   2018-09-16
2018-09-17       72   2018-09-17
2018-09-18        0   2018-09-18
2018-09-19        0   2018-09-19
2018-09-20      298   2018-09-20
2018-09-21        0   2018-09-21
2018-09-22      162   2018-09-22
2018-09-23        0   2018-09-23
2018-09-24       51   2018-09-24
2018-09-25        0   2018-09-25
2018-09-26        0   2018-09-26
2018-09-27      146   2018-09-27
2018-09-28      133   2018-09-28
2018-09-29        0   2018-09-29
2018-09-30       36   2018-09-30
2018-10-01        0   2018-10-01
2018-10-02        0   2018-10-02
...             ...          ...
2018-12-08        0   2018-12-08
2018-12-09        0   2018-12-09
2018-12-10       40   2018-12-10
2018-12-11        0   2018-12-11
2018-12-12      105   2018-12-12
2018-12-13        0   2018-12-13
2018-12-14      207   2018-12-14
2018-12-15        0   2018-12-15
2018-12-16        0   2018-12-16
2018-12-17       60   2018-12-17
2018-12-18        0   2018-12-18
2018-12-19      133   2018-12-19
2018-12-20        0   2018-12-20
2018-12-21      206   2018-12-21
2018-12-22        0   2018-12-22
2018-12-23        0   2018-12-23
2018-12-24        3   2018-12-24
2018-12-25       79   2018-12-25
2018-12-26        0   2018-12-26
2018-12-27        0   2018-12-27
2018-12-28       74   2018-12-28
2018-12-29        0   2018-12-29
2018-12-30       24   2018-12-30
2018-12-31        0   2018-12-31
2019-01-01       18   2019-01-01
2019-01-02        0   2019-01-02
2019-01-03       51   2019-01-03
2019-01-04        0   2019-01-04
2019-01-05      128   2019-01-05
2019-01-06     1985   2019-01-06

[126 rows x 2 columns]

## Large numbers of old AppID entries means `refreshsteam.py` needs to be run.

In [73]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['updated_date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='AppIDs By Last Updated Date',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [74]:
all_times_df = pd.DataFrame(list(db['pricehistory'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2018-09-04   8215 2018-09-04
2018-09-05  43441 2018-09-05
2018-09-06  37421 2018-09-06
2018-09-07  23655 2018-09-07
2018-09-08  37188 2018-09-08
2018-09-09      0 2018-09-09
2018-09-10   2963 2018-09-10
2018-09-11  45999 2018-09-11
2018-09-12  20210 2018-09-12
2018-09-13    269 2018-09-13
2018-09-14  37390 2018-09-14
2018-09-15  37650 2018-09-15
2018-09-16      0 2018-09-16
2018-09-17  13770 2018-09-17
2018-09-18  23910 2018-09-18
2018-09-19      0 2018-09-19
2018-09-20  45652 2018-09-20
2018-09-21      0 2018-09-21
2018-09-22  36531 2018-09-22
2018-09-23      0 2018-09-23
2018-09-24   6238 2018-09-24
2018-09-25  34293 2018-09-25
2018-09-26      0 2018-09-26
2018-09-27  36969 2018-09-27
2018-09-28  36974 2018-09-28
2018-09-29      0 2018-09-29
2018-09-30   9130 2018-09-30
2018-10-01  27797 2018-10-01
2018-10-02      0 2018-10-02
2018-10-03  36964 2018-10-03
...           ...        ...
2018-12-08  13019 2018-12-08
2018-12-09      0 2018-12-09
2018-12-10  37514 2018-12-10
2018-12-11      0 2018-12-11
2018-12-12  36924 2018-12-12
2018-12-13      0 2018-12-13
2018-12-14  37700 2018-12-14
2018-12-15      0 2018-12-15
2018-12-16      0 2018-12-16
2018-12-17  37622 2018-12-17
2018-12-18      0 2018-12-18
2018-12-19  26636 2018-12-19
2018-12-20      0 2018-12-20
2018-12-21  37138 2018-12-21
2018-12-22      0 2018-12-22
2018-12-23      0 2018-12-23
2018-12-24  37607 2018-12-24
2018-12-25  37691 2018-12-25
2018-12-26      0 2018-12-26
2018-12-27      0 2018-12-27
2018-12-28  37726 2018-12-28
2018-12-29      0 2018-12-29
2018-12-30  37724 2018-12-30
2018-12-31      0 2018-12-31
2019-01-01  37721 2019-01-01
2019-01-02      0 2019-01-02
2019-01-03  37718 2019-01-03
2019-01-04      0 2019-01-04
2019-01-05     52 2019-01-05
2019-01-06  38624 2019-01-06

[125 rows x 2 columns]

## This is historical data from the `pricehistory` Mongo collection.  This is run roughly every 48 hours.

In [75]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Price History',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [76]:
all_times_df = pd.DataFrame(list(db['steamusers'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2018-11-17     43 2018-11-17
2018-11-18    302 2018-11-18
2018-11-19    259 2018-11-19
2018-11-20      0 2018-11-20
2018-11-21      0 2018-11-21
2018-11-22      0 2018-11-22
2018-11-23      0 2018-11-23
2018-11-24      0 2018-11-24
2018-11-25      0 2018-11-25
2018-11-26      0 2018-11-26
2018-11-27      0 2018-11-27
2018-11-28      0 2018-11-28
2018-11-29      0 2018-11-29
2018-11-30      0 2018-11-30
2018-12-01      0 2018-12-01
2018-12-02      0 2018-12-02
2018-12-03      0 2018-12-03
2018-12-04      0 2018-12-04
2018-12-05      0 2018-12-05
2018-12-06      0 2018-12-06
2018-12-07      0 2018-12-07
2018-12-08      0 2018-12-08
2018-12-09      0 2018-12-09
2018-12-10      0 2018-12-10
2018-12-11      0 2018-12-11
2018-12-12      0 2018-12-12
2018-12-13      0 2018-12-13
2018-12-14      0 2018-12-14
2018-12-15      0 2018-12-15
2018-12-16      0 2018-12-16
2018-12-17      0 2018-12-17
2018-12-18      0 2018-12-18
2018-12-19    119 2018-12-19
2018-12-20    340 2018-12-20
2018-12-21    751 2018-12-21
2018-12-22   1021 2018-12-22
2018-12-23    932 2018-12-23
2018-12-24    980 2018-12-24
2018-12-25    938 2018-12-25
2018-12-26    924 2018-12-26
2018-12-27   1106 2018-12-27
2018-12-28   1287 2018-12-28
2018-12-29   1219 2018-12-29
2018-12-30   1176 2018-12-30
2018-12-31   1214 2018-12-31
2019-01-01   1076 2019-01-01
2019-01-02   1212 2019-01-02
2019-01-03   1046 2019-01-03
2019-01-04    640 2019-01-04
2019-01-05    304 2019-01-05
2019-01-06      4 2019-01-06

## These are the number of records we have per day for the `steamusers` Mongo collection.  This is created using the `steamusers.py` script.

In [77]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for steamusers',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

In [78]:
all_times_df = pd.DataFrame(list(db['topgames'].find({}, {"date":1, '_id':False})))
# all_times_df.head()
# all_times_df.dtypes
# http://pbpython.com/pandas-grouper-agg.html
grouped_df = pd.DataFrame(all_times_df.groupby(pd.Grouper(key='date', freq='D')).size())
grouped_df['date'] = grouped_df.index
grouped_df.rename(columns={grouped_df.columns[0] : 'count'}, inplace=True)
grouped_df

            count       date
date
2019-01-05  14000 2019-01-05
2019-01-06  13500 2019-01-06

## These are the number of entries we have per day for the `topgames` Mongo collection.  Each query returns the current top 100 games being played.  This is run every 5 minutes.

In [79]:
# https://plot.ly/python/bar-charts/

data = [Bar(
        x=grouped_df['date'],
        y=grouped_df['count']
    )]

layout = Layout(
        title='Distribution of Records Per Day for topgames',
        xaxis=dict(
            title='Date'
        ),
        yaxis=dict(
            title='Records Count'
        )
    )

fig = Figure(data=data, layout=layout)

iplot(fig)

## Storage and disk usage information

In [80]:
# https://stackoverflow.com/questions/1094841/reusable-library-to-get-human-readable-version-of-file-size
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f %s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f %s%s" % (num, 'Yi', suffix)

for collection in db.list_collection_names():
    stats = db.command("collstats", str(collection))
    print(collection + " size: " + sizeof_fmt(stats['size']))

print("--------------------")
stats = db.command("dbstats")
print("Total Steam DB Size: " + sizeof_fmt(stats['dataSize']))

topgames size: 4.9 MiB
apps size: 465.5 MiB
steamusers size: 1.2 MiB
pricehistory size: 281.0 MiB
--------------------
Total Steam DB Size: 752.6 MiB